<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<h1>Kitten: <%= @kitten.name %></h1>

<p>Name: <%= @kitten.name %></p>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>
